@import url('css/bootstrap.min.css');
::-webkit-scrollbar{width:10px;height:12px;}
::-webkit-scrollbar-button:vertical{display:none;}
::-webkit-scrollbar-track:vertical{background-color:transparent;}
::-webkit-scrollbar-track-piece{background:transparent;}
::-webkit-scrollbar-thumb:vertical{background-color:#f2f2f2;border-radius:0px;}
::-webkit-scrollbar-thumb:vertical:hover{background-color:#f9f9f9;}
::-webkit-scrollbar-corner:vertical{background-color:#999;}
::-webkit-scrollbar-resizer:vertical{background-color:#999;}
body {
	line-height: 1;
	font-size:13px;
	background: #F5F3F4 url(images/bg.jpg) top center no-repeat;
	font-weight: 400;

}



a {
	color: #365eb4;
	text-decoration: none;
}

a:hover,a:visited, a:focus {
	text-decoration: none;
}

a:hover {
	color: #e91b23;
	cursor: pointer;
}
/*common*/
.panel,.panel-heading {
	border-radius: 0;
}
.panel-heading {
	font-size: 14px;
}
.panel-body {
	padding: 5px;
	font-size: 13px;
	line-height: 16px;
}
.panel-primary .panel-heading a,.panel-success .panel-heading a {
	color: #fff;
}
.table-heading {font-weight: bold;}
 .support .list {
	position: relative;
	display: block;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 15px;
	text-indent: 60px;
	padding: 10px;
	margin-top: 10px;

}


.support .list a { text-transform: uppercase;}
.support .icon:hover {background-color: #f2f2f2}
.support-body label {
	font-size: 15px;
	border-bottom: 1px solid #eee;
	padding: 10px;
	display: block;
}
.panel-heading { text-transform: uppercase; font-size: 18px;}
.social_btn {padding: 15px 0px;}
.sbtn {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 23.5%;
}
.fb { top: -3px; width: 30%; }
.sh {background: #f2f2f2; border: 1px solid #ddd; border-radius: 4px;width: 21%; top: -6px; padding: 1px 0px 2px;}
.gg {width: 20%;}
/*end common*/
/* Header */
.header {

}
.wrapper {
	max-width: 1024px;
	background: #fff;
	padding: 0;
}
.inner-container {
	max-width: 1024px;
	padding: 0;
}

.logo {
	text-indent: -99999px;
	font-size: 1px;
	color: #fff;
	line-height: 1px;
	margin: 0;
	padding: 0;
}
.logo-mobi { margin-top: 30px;}
.company_title {
	text-transform: uppercase;
	font-family: 'Arial', sans-serif;
}
.search_box {
	margin-top: 30px;
}
/*** NAR-BAR ***/
.navbar {
	border-radius: 0px;
	min-height: 30px;
	margin-bottom: 0px;
	border: 0;

}
.navbar-top {
	margin-bottom: 0;
	border-radius: 0;

}
.navbar-inverse {
	background: #0063AF;
	min-height: 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.navbar-nav.navbar-right:last-child {
	margin-right: 0;
}
.navbar-nav  {
	margin: 0;
}
.navbar-nav > li > a {
	padding: 7px 15px;
	margin: 0;
}
.breadcrumb {
	margin-bottom: 15px;
}
.breadcrumb a {
}
.breadcrumb .active {

}
.navbar-inverse .navbar-nav > li > a{
	font-size: 14px;
	padding: 10px 15px 10px;
	color: #f7f7f7;
	text-transform: uppercase;
	color: #f7f7f7;
	font-weight: 300;
}
.navbar-top {

}
.navbar-top .inner-container {

	text-align: center;
	padding: 0;
	margin: 0 auto;
}
.navbar-top .navbar-nav  {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto !important;
}
.navbar-top .navbar-nav li {
	float: none;
	display: inline-block;
}
.navbar-top .navbar-nav > li > a{
	font-size: 13px;
	padding: 7px 10px;
	text-transform: uppercase;
}
.navbar-top .navbar-nav > li > a:hover {
	background: #fff;
	color: #0061ae;
}
.navbar-nav li.current-menu-item, .current-menu-parent a {
	color: #fff;
	border-color: #e91b23;
}


.menu-item-has-children:hover a, .navbar-nav li:hover a{
	border-color: #e91b23;
}

.navbar-nav li.current-menu-item a, .current-menu-parent a,.current-menu-parent:hover a{
	color: #fff ;
	border-color: #e91b23;
}
.navbar-nav .current-menu-parent a,.navbar-nav .current_page_parent a,.navbar-nav .current-menu-ancestor a {
	color: #fff;
	border-color: #e91b23;
}
.navbar-inverse .navbar-nav > li:hover > a {
	background: #2a2a2a;
	color: #fff;
}
.sub-menu {
	display: none;
	position: absolute;
	z-index: 99999;
	background-color: #2a2a2a;
	min-width: 260px;
	width: auto;
	padding: 4px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0 6px 12px rgba(0,0,0,0.5);
}

.sub-menu li {
	position: relative;
	padding: 7px 10px;
	text-transform: none;
}
.sub-menu li:last-child {
	border: 0;
}

.sub-menu li a {
	color: #f9f9f9;
	text-decoration: none;
	font-size: 13px;
	font-weight: 300;

}
.sub-menu li a:before {
	content: "» " ;
}

.sub-menu li:hover a {
	color: #999;
}

.sub-menu li:hover a:hover {
	color: #999;
}

.navbar-nav li:hover .sub-menu{
	display: block;
}

.navbar-nav li .sub-menu li .sub-menu {
	display: none;
	left: 100%;
	top: 0;
	background: #fff;
	opacity: 1;
	border-radius: 0;
	border: 1px solid #ddd;
}

.navbar-nav li .sub-menu li .sub-menu li {
	border-bottom: 0;
}

.navbar-nav li .sub-menu li .sub-menu li:hover {
	background: #e91b23;
}

.navbar-nav li .sub-menu li:hover .sub-menu {
	display: block;
}
.search_sec {
	position: relative;
}

.search_form {
	position: absolute;
	top: 100%;
	min-width: 300px;
	right: 0;
	z-index: 9999;
	background: #2a2a2a;
	padding: 10px;
	border: 1px solid #101010;
	border-top: 0;
	display: none;
}
.search_sec:hover .search_form{
	display: block;
}
.main_site {
	padding: 7px;
	background: #fff;
}
/** -Feature Hot topic  */
	.slide {
		margin-bottom: 15px;
		border: 5px solid #fafafa;
		box-shadow: 0 0 10px rgba(0,0,0,0.05);
	}
	.slide .item {
		height: 250px;
		overflow: hidden;
	}
	.slide .item img {
		width: 100%;
		height: auto;

	}
/*** end feature post **/
/*top dich vu */
.top_dv .panel {
	border-radius: 4px;
	border-color: #eee;
	box-shadow: 0 0 7px rgba(0,0,0,0.06);
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.06);
	-moz-box-shadow: 0 0 7px rgba(0,0,0,0.06);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.top_dv .panel:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.top_dv .panel .panel-body {min-height: 50px;}
.top_dv .panel .panel-footer {text-align: center; padding: 5px;  font-weight: 700; color: blue; background: #fafafa; border-color: #eee;}
.top_dv .thumbnail {
	display: block;
	position: relative;
	height: 120px;
	overflow: hidden;
	border-radius: 0;
	padding: 0;
	border: 0;
	margin-bottom: 0px;
	-webkit-transition-property:scale;
	-webkit-transition-duration:0.5s;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.top_dv .thumbnail  img {
	width: auto;
	height: auto;
	min-height: 120px;
	min-width: 100%;

	/* Safari */
	-webkit-transition-property:scale;
	-webkit-transition-duration:0.5s;
	-moz-transition-property:scale;
	-moz-transition-duration:0.5s;
	transition-property: scale;
	transition-duration:0.5s;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.top_dv .thumbnail h3.top_dv_title,.top_dv .thumbnail h2.top_dv_title {
	position: absolute;
	bottom: 0;
	display: block;
	background: #000;
	margin: 0;
	opacity: 0.7;
	color: #fff;
	font-size: 14px;
	width: 100%;
	padding: 5px;
	font-weight: 300;
}
.top_dv .thumbnail:hover img {
	-ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* IE 9 */
    transform: scale(1.2,1.2); /* IE 9 */
}
.top_dv .panel-body {
	text-align: justify;
}
.dv_khac .thumb {
	width: 100px;
	height: 70px;
	border: 1px solid #eee;
	overflow: hidden;
}
.dv_khac .thumb img {
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 70px;
}
.heading {
	margin: 0;
	font-size: 13px;
	margin-bottom: 10px;
	border-bottom: 3px solid #0063AF;
	color: #fff;
	text-transform: uppercase;
	display: block;
	padding: 7px 0px;
}
.heading a {
	background: #0063AF;
	color: #fff;
	padding: 6px 20px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.dv_khac .media-body {
	line-height: 16px;
}
.dv_khac .media-heading {
	font-size: 14px;
	font-weight: bold;
}
.nav-news { padding: 0; margin: 0; margin-bottom: 10px; border-bottom: 3px solid #0063AF;}
.nav-news > li.active {
	background: #0063AF;
	border: 0;
	margin-bottom: -3px;
	border: 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.nav-news > li > a {
	padding: 6px 20px;
	border-radius: 0;
	text-transform: uppercase;
	border: 0;

}
.nav-news > li:hover >a {
	background: none;
}
.nav-news > li.active > a {
	background: none;
	border: 0;
	color: #fff;
	margin-bottom: 0px;
}
.nav-news > li.active > a:hover {
	border:0;
	background: none;
	cursor: pointer;
	color: #fff;
}
.tin-tuc .news_thumb {
	width: 70px;
	height: 70px;
	background: #f2f2f2;
	overflow: hidden;
}
.tin-tuc .media-object {
	width: 100%;
	height: auto;
}
.tin-tuc .media-object:hover { border-color: #E91B45;}
.tin-tuc .media h3 {padding: 0; margin: 0; font-size: 14px; margin-bottom: 5px; line-height: 18px; font-weight: 600;}
.tin-tuc .media { line-height: 15px; font-size: 12px;}
.tin-tuc .media a {
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
	color: #222;
}
.tin-tuc .media a:hover {
	color: #e91b23;
}
.post_date  {
	font-size: 11px;
	color: #555;
}
.post_time {
	font-size: 11px;
	color: #555;
	font-weight: normal;
	font-style: italic;
}
/* end top dich vu */
/*** COntent ****/
.post_sec {
	margin-bottom: 15px;
}
.col-content {
	margin-bottom: 10px;
}

.innerContent {
}

.post-heading {
	padding: 0;
	margin: 0;
}

.post_title {
	margin:0;
	font-size: 24px;
	padding: 0px 0px 7px;
	margin-bottom: 10px;
	text-transform: uppercase;
	border-bottom: 2px solid #0063AF;
}
.post_title span {
	border-bottom: 2px solid red;
	margin-bottom: -4px;
	padding: 4px 0px;
	padding-right: 15px;
}

.single-title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 0;
	text-transform: none;
	line-height: 24px;
}

.post_content {
	text-align: justify;
	line-height: 20px;
	font-size: 14px;
	display: block;
	position: relative;
}

.post-meta {
	padding: 10px 0px;
	font-size: 13px;
	color: #777;
	margin: 0;
	margin-bottom: 10px;
}
.social-bookmarking {
	margin-top: -5px;
	z-index: 5;
}
.social-button {
	display: block;
	padding-top: 5px;
	z-index: 5;
}
.social-btn {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	background: #000;
	opacity: .9;
	padding: 5px;
	display: block;
	width: 100%;
}
.post_content img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 5px auto;
}

.post_content p {
	margin: 10px 0px;
}


.post_content div {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.post_content .wp-caption {
	background: #eee;
	padding: 5px;
	text-align: center;
	font-style: italic;
	font-size: 12px;
}
.post_content .wp-caption img {
	margin: 0;
	max-width: 100%;

}
.post_content h3 {
	padding: 0;
	margin: 0;
	font-size: 15px;
	border: 0;
	font-family: inherit;

}
.post_content ul {
	list-style: square;
}
.post_content ul li {
	margin-left: 30px;
}
.post_content table tr td,.post_content table tr th { text-align: center !important;}
.relate-topic {
	padding: 0;
	margin: 0;
}
.relate_topic {

	background: #f9f9f9;
	border-radius: 5px;
	padding: 5px;
}
.relate_topic h4 {
	font-size: 14px;
}
.relate_topic ul {
	list-style: square;
}
.relate_topic ul li {
	margin-left: 20px;
}
.relate_topic ul li a {
	font-size: 14px;
	font-weight: normal;
	color: auto;
}
.relate-heading {
	padding: 5px 0px;
	border-bottom: 2px solid #0063AF;
	color: #222;
	font-size: 20px;
	font-weight: 700;
}

.list-relate {
	padding: 0;
	margin:5px 0px;
}

.list-relate li {
	padding: 5px 0px;
	border-bottom: 1px dotted #ddd;
}

.list-relate li a {
	font-size: 14px;
}

.viewcat_item {
	border-bottom: 1px solid #ddd;
	padding: 0;
	margin: 0;
	padding-bottom: 5px;
}

.viewcat_item .thumbnail {
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
}

.viewcate_title {
	padding: 7px;
	margin: 0;
	line-height: 20px;
	text-align: left;
	font-size: 16px;
	font-weight: 700;
	font-family: Arial;
}

.viewcate_title a {
	color: #555;
}
.box_item {
	max-height: 270px;
	overflow: hidden;
	margin-bottom: 10px;
}

.box_item .thumbnail{
	display: block;
	padding: 0;
	overflow: hidden;
	max-height: 110px;
	min-height: 110px;
	margin-bottom: 10px;
}
.box_item .thumbnail img {
	width: 100%;
	height: auto;
}
.box_item .caption{
	font-size: 14px;
}
.item_title {
	padding: 0;
	margin: 0;
	font-size: 14px;
	margin-bottom: 10px;
}
.item_title_lg {
	padding: 0;
	margin: 0;
	margin-bottom: 7px;
	font-size: 18px;
	font-weight: 700;
}
.box-meta {
	margin-bottom: 5px;
	color: #555;
	font-size: 11px;
}
.box-desc {
	font-size: 13px;
	line-height: 16px;
}

.label_title {
	text-transform: uppercase;
	padding: 5px 0px;
	border-bottom: 1px solid #eee;
	display: block;
	font-size: 15px;
	margin-bottom: 10px;
}
.label_item {
	font-size: 15px;
}
/*** ./END CONTENT ****/

/*** aside  - sidebar ****/

	.col-aside {

	}

	.widget {
		margin-bottom: 20px;
		background: #fff;
		border: 1px solid #eee;
		box-shadow: 0 0 7px rgba(0,0,0,0.06);
	}
	.widget ul, .widget-content {
	}
	.widget ul li {
        min-height: 55px;
	}
	.widget ul li a {
		font-size: 14px;
	}
	.textwidget {
		font-size: 13px;
		line-height: 16px;
	}

	.widget-title {
		border-bottom: 1px solid #eee;
		text-transform: uppercase;
		font-size: 16px;
   		padding: 8px 10px;
   		margin: 0;
   		border-bottom: 4px solid #0063AF;
   		color: #555;
   		background: whitesmoke;
   		font-weight: 400;
	}
	.widget-title .nav-tabs {
		padding: 0;
		margin: 0;
		border: 0;

	}
	.widget-title .nav-tabs li {
		display: inline-block;
		padding:0;
		margin: 0;
		margin-right: 10px;
		margin-bottom: -7px;
	}
	.widget-title .nav-tabs li a{
		border: 0;
		border-bottom: 2px solid #222;
		background: transparent;
		border-radius: 0;
		padding: 0;
		margin: 0;
		font-size: 20px;
	}
	.widget-title .nav-tabs li:last-child {
		margin-right: 0;
	}
	.widget-title .nav-tabs li a:hover,.widget-title .nav-tabs li a:focus,.widget-title .nav-tabs li a:active {
		border:0;
		border-radius: 0;
	}
	.widget-title .nav-tabs li a:hover {
		border-bottom: 2px solid #555;
	}
	.widget-title .nav-tabs li.active a {
		border-bottom: 2px solid red;
		border-color: red;
		color: #000;
	}

	.widget ul {
		padding: 5px;
		margin: 0;
	}
	.widget_categories ul {
		padding: 0;
	}
	.widget_categories ul li a{
		padding: 10px 5px;
		background: #f2f2f2;
		display: block;
		border-left: 5px solid #d43f3a;
		font-weight: 700;
		margin-bottom: 1px;
	}
	.widget_categories ul li ul li a {
		background: #f9f9f9;
		border-left: 5px solid #d9534f;
		border-bottom: 1px dotted #eee;
		font-weight: normal;
	}
	.widget-content {
		padding: 5px;
	}
	.widget-content ul li {
		font-size: 14px;
		font-weight: 400;
		border-bottom: 1px dotted #ddd;
		padding: 5px 0px;
		line-height: 18px;
	}

	.widget ul li:last-child{
		border: 0;
	}
	.widget-content .hot_thumb { width: 62px; height: 62px; border-radius: 31px; overflow: hidden; background: #f9f9f9; border: 1px solid #eee;}
	.widget-content .hot_thumb img { width: 60px; height: auto;}
	.widget-content .is_hot h2 { padding: 0; margin: 0; font-size: 14px; margin-bottom: 5px; font-weight: 600; line-height: 20px;}
	.widget-content .is_hot h2 a {color: #222}
	.widget-content .is_hot h2 a:hover {color: #e91b23}
	.tab-item {
		margin-bottom: 15px;
	}
	.tab-item .detail {
		padding-left: 0;
	}
	.tab-item-thumb {
		display: block;
		max-height: 54px;
		overflow: hidden;
	}
	.tab-item-thumb img {
		width: 100%;
		height: auto;
	}
	.tab-item-title {
		padding: 0;
		margin: 0;
		font-size: 15px;
		font-weight: 600;
		color: #222;
		margin-bottom: 5px;
		height: 37px;
		line-height: 18px;
		display: block;
		overflow: hidden;
	}
	.tab-item-title a {
		color: #222;
	}
	.tab-item-title a:hover {
		color :#e91b23;
	}
/** end aside ***/

/*** FOOTER ****/

.footer {
	background: #191a1e;
	padding: 10px;
}

.copyright {
	border-top: 1px solid #000;
	padding: 10px;
	text-transform: uppercase;
	color: #555;
	font-size: 11px;
	background: #111;
}
.footer .address {
	color: #f7f7f7;
}
.footer-box-title {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 15px;
	padding: 10px 0px 20px;
	color: #fff;
}
.footer-box-title span{
	font-weight: 700;
}
.cate_footer li {
	padding: 5px;
	border-bottom: 1px dotted #eee;
	width: 24%;
	display: inline-block;
}
.cate_footer li:hover, .cate_footer li a:hover {
	background: none;
	color: #000;
}
.cate_footer .current-menu-item a,.cate_footer .current-menu-parent, .cate_footer .current-menu-parent a {
	font-weight: bold;
	color: #000;
	background: none;
}
.cate_footer li a {
	text-transform: uppercase;
}
.footer .featured-detail .featured-title a {
	color: #fff;
}
.footer .featured-detail .featured-desc {
	color: #999;
}
.nav-footer {
	border-bottom: 2px solid #eee;
}
.nav-footer li {
	display: inline-block;
	text-transform: uppercase;
	padding: 5px 0px;
	padding-right: 10px;
	border-bottom: 2px solid transparent;
	margin-bottom: -2px;
}
.nav-footer li:hover,.nav-footer .current-menu-item, .nav-footer  .current-menu-parent {
	border-color: red;
}
.nav-footer li.menu-item-has-children, .nav-footer  .current-menu-parent {
	background: none;
}
.nav-footer li a {
	color: #fff;
	font-weight: 300;
}
.social li {
	display: inline-block;
}
.social li a {
	display: block;
	height: 36px;
	width: 36px;
}
.social li a.fb {
	background: url(images/fb-icon.png) center center no-repeat;
}
.social li a.fb:hover {
	background-color: #3b5998;
}

.social li a.yt {
	background: url(images/yt-icon.png) center center no-repeat;
}
.social li a.yt:hover {
	background-color: #ff3132;
}

.social li a.g {
	background: url(images/g-icon.png) center center no-repeat;
}
.social li a.g:hover {
	background-color: #dc4937;
}

.social li a.tw {
	background: url(images/tw-icon.png) center center no-repeat;
}
.social li a.tw:hover {
	background-color: #2daae1;
}
.support_link li {
	padding: 5px 0;
	color: #999;
}
.support_link li:before {
	content: "»  ";
}

.support_link li a {
	color: #999;
	font-size: 14px;
}
.support_link li a:hover {
	color:  #e91b23;
}
/*** ./END FOOTER ***/





ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.non_padding {
	padding-left:5px !important;
	padding-right: 5px !important;
}

.hot-md-item {
	padding: 0 3px !important;
}

.padding_left_5 {
	padding-left: 5px!important;
}

.padding_left_10 {
	padding-left: 10px!important;
}

.padding_left_15 {
	padding-left: 15px!important;
}

.padding_left_20 {
	padding-left: 20px!important;
}

.padding_right_5 {
	padding-right: 5px!important;
}

.padding_right_10 {
	padding-right: 10px!important;
}

.padding_right_15 {
	padding-right: 15px!important;
}

.padding_right_20 {
	padding-right: 20px!important;
}
.tagcloud {
	padding: 5px;
}
@media screen and (max-width: 991px){
	.wrapper-menu .navbar-right,.feature-post {
		display: none;
	}
	.navbar-nav li a {
		font-size: 14px;
		padding-left:5px;
		padding-right:5px;
	}

}
@media screen and (max-width: 767px){
	.wrapper-menu .navbar-right,.feature-post {
		display: none;
	}
	.wrapper-menu {
		display: block;
		width: 100% !important;
	}
	.navbar-header{
		display: block;
		width: 100%;
	}
	.navbar-nav li a {
		font-size: 14px;
		padding-left:5px;
		padding-right:5px;
	}
	.navbar-nav li .sub-menu {
		display: block;
		width: 100%;
	}
	.box-style-2 .box-item:nth-child(odd),.box-style-3 .box-item:nth-child(odd) {
		padding-right: 15px;
	}
	.box-style-2 .box-item:nth-child(even),.box-style-3 .box-item:nth-child(even) {
		padding-left: 15px;
	}
	.box-style-1 .thumb_post {
		padding-right: 15px;
	}


}
/* NEWS CATEGORY **/
.news_items {
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.news_items:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}
.news_items .thumbnail {
	margin-bottom: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: #f9f9f9;
	width: 200px;
	height: 130px;
	overflow: hidden;

}
.news_items .thumbnail .media-object {
	width: 100%;
	height: auto;
}
.news_items .media-heading {
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	margin-bottom: 7px;

}
.news_items .media-heading a {
	color: #222;
}
.news_items .media-heading a:hover {color: #e91b23;}
.news_items .news_excerpt {
	line-height: 20px;
	font-size: 14px;
	text-align: justify;
}
.news_items .box-meta {
	font-size: 14px;
	font-style: italic;
	margin-bottom: 10px;
}
/** ./END NEWS CATEGORY **/
.non_pd_r {}
/* Footer */
.footer {
	border-top: 5px solid #045594;
	padding-top: 5px;
	background: #101010;
	margin-top: 10px;
}
.footer_item {
	margin-bottom: 10px;
}
.footer_item ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.footer_item ul li {
	color: #777;
	font-size: 12px;
	padding: 3px 0px;
}
 .footer_item ul li a {
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
	text-decoration: none;
	color:#fff;;
}
.footer_item ul li a:hover {
	color: #fff;
}
.footer_item .footer_item_heading {
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.footer_item_heading {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer_item .support_link li {
	display: block;
	margin-bottom: 10px;
}
.footer_item .support_link li .icon {
	display: block;
	float: left;
	padding: 5px;
	color: #555;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding: 5px;
}
.footer_item .support_link li  .yahoo {
	background-image: url(images/yahoo.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.footer_item .support_link li  .skype {
	background-image: url(images/skype.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
}
.footer_item .support_link li a {
	display: block;
	background: #000;
	text-transform: uppercase;
	color: #fff;
	padding: 14px;
	text-indent: 15px;
	border-radius: 30px;
	text-align: center;
}

.footer_item .support_link li.subiz a {
	text-indent: 0;
	padding: 5px;
}
.footer_item .support_link li a:hover {
	background: #333;
}
.footer_item .link_footer li:before{
	content: "» " ;
}
.footer_item .support_link li:before {
	content : "";
}
.footer_footing {
	padding: 10px 0px;
	background: #000;
	color: #f9f9f9;
	font-size: 12px;
	font-style: italic;
	border-top: 2px solid #111;
}
.social_button li {
	display: inline-block;
}
.social_button li img {
	width: 80%;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.social_button li img:hover {
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Chrome, Safari, Opera */
	transform: scale(1.2);
}

/* .end footer */
#fixed_menu { border-radius: 0; position: fixed; width: 100%; z-index: 99999; display: none; box-shadow: 0 0 10px rgba(0,0,0,0.5); top: 0;}
.widget-content .is_hot h2 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
    line-height: 20px;
}